@import "variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


html, body, #root, #root> div {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-300;
  background-position: center center;
  background-size: cover;
  
  opacity:0;
  visibility: hidden;

  transition: visibility 0s, opacity 0.5s ease-in;

  >.loading-text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: x-large;
    color: $primary-300;
  }
}

.visible {
  opacity: 1;
  visibility: visible;
}

.layout {
  height: 100%;
  width: 100%;
}

.error-state {
  padding: 5em;
  background-color: white;
}

.text-dark-off-1 {
  color:  $primary-300;
}
.text-dark-off-2 {
  color:  $primary-100;
}

.authentication-left {
  border-top-right-radius: 20em;
  border-bottom-left-radius: 20em;
}

.auth__layout {
  background-color: $primary;
}

.dashboard__sidebar {
  background-color: $secondary-700;
  border-radius: 0 !important;
  
  .nav-link {
    color: $light;
    &.active {
      background-color: $primary;
      color: $light;
      border-radius: 0 !important;
    }
  }
}
.dashboard__navbar {
  background-color: $secondary-700 !important;

  .navbar-brand > img {
    max-height: 2.1rem;
  }

  .nav-link {
    color: $light;
    &.active {
      background-color: $primary !important;
      color: $light;
      border-radius: 0 !important;
    }
  }
}